extends layout

block content
  h1= title
  p Welcome to #{title}
  p signPackage to #{JSON.stringify(signPackage)}

  script(src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js')
  script.
      var signPackage = !{JSON.stringify(signPackage)};
      wx.config({
          debug: true,
          appId: signPackage.appId,
          timestamp: signPackage.timestamp,
          nonceStr:  signPackage.nonceStr,
          signature: signPackage.signature,
          jsApiList: [
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo',
            'onMenuShareQZone'
          ]
      });

      wx.ready(function(){

        wx.onMenuShareTimeline({
            title: '跟着wangshijun学习微信全栈开发', // 分享标题
            link: window.location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: '', // 分享图标
            success: function () {
                console.log('share success.');
            },
            cancel: function () {
                console.log('share cancel.');
            }
        });


        wx.onMenuShareAppMessage({
            title: '跟着wangshijun学习微信全栈开发', // 分享标题
            desc: '', // 分享描述
            link: window.location.href, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: '', // 分享图标
            type: '', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                console.log('share success.');
            },
            cancel: function () {
                console.log('share cancel.');
            }
        });

      });


